workflows/ice-shower-lead
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "klaviyo-lead",
        "options": {}
      },
      "name": "Webhook (Klaviyo List‑Join)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3b517011-b742-4a46-8a5c-f65f1fd78dd7",
      "webhookId": "26e5f75f-c8a4-4c7e-ace8-51d050887a76"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json[\"profile.email\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json[\"profile.first_name\"] }}"
            },
            {
              "name": "primary_struggle",
              "value": "={{ $json[\"biggest_struggle\"] }}"
            },
            {
              "name": "current_solution",
              "value": "={{ $json[\"current_solution\"] }}"
            },
            {
              "name": "urgency_label",
              "value": "={{ $json[\"importance_to_resolve\"] }}"
            },
            {
              "name": "postcode",
              "value": "={{ $json[\"profile.$address1.postal_code\"] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Lead Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "498c076e-2410-435e-bae1-a81b8fe7b8ac"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "name": "Google Sheets Lookup (Enrich)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        528,
        0
      ],
      "id": "d61f73da-6ba6-432c-b4c2-5376d5226dc2"
    },
    {
      "parameters": {
        "functionCode": "\n                    // Build ChatGPT prompt\n                    const urgencyMap = {\n                      not_important: 1,\n                      somewhat_important: 3,\n                      very_important: 5\n                    };\n                    const item = items[0];\n                    const uScore = urgencyMap[item.json.urgency_label] || 3;\n                    item.json.prompt = `\nWrite a 320‑word, double‑spaced persuasive report for ${item.json.first_name} (${item.json.postcode}).\n\nThey struggle with **${item.json.primary_struggle}** and currently rely on **${item.json.current_solution}**. Urgency level: **${item.json.urgency_label}**.\n\nLocal tap water = ${item.json.water_temp}°C (chemicals: ${item.json.chemicals} ppm). Coffee nearby costs $${item.json.coffee_price}/day.\n\nStructure:\n1. Empathy‑packed opener linking to ${item.json.primary_struggle}.\n2. Quick science nugget on how cold exposure super‑charges cognition.\n3. Bullet‑list benefit stack: ⚡ instant energy, 🎯 laser focus, 💰 yearly savings vs. ${item.json.current_solution}, 🚿 cleaner filtered water.\n4. \"Water Quality Reveal\" – highlight ${item.json.chemicals} ppm and tease Everest’s triple‑filter that removes them.\n5. \"30‑Second Everest Ice Shower\" challenge for tomorrow morning.\n6. Soft CTA: promise a private link to early‑bird pricing inside the PDF.\n7. Playful sign‑off.\n                    `;\n                    return items;\n"
      },
      "name": "Function → Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "49893f8a-b4f6-41ce-8e2f-bb7acde53d42"
    },
    {
      "parameters": {},
      "name": "OpenAI Chat Completion",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "4d891c3b-a937-49c3-97b8-580b933aaffc",
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.pdfmonkey.io/v1/documents",
        "jsonParameters": true,
        "options": {}
      },
      "name": "HTTP → PDFMonkey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "f00a4b6c-0c98-4d28-b262-f3c595e3fdea"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://a.klaviyo.com/api/v1/email/send",
        "jsonParameters": true,
        "options": {}
      },
      "name": "HTTP → Send Klaviyo Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "id": "2b03bd53-9af3-4050-9a55-abf4ef77f1cc"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "name": "Google Sheets Append Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        0
      ],
      "id": "2cf2f0d6-ce73-437d-8587-2a9ad6e83f16"
    },
    {
      "parameters": {
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "jsonParameters": true,
        "options": {}
      },
      "name": "HTTP → Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ],
      "id": "89b2854d-ef17-4d04-a5e2-603303eb91ac"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Klaviyo List‑Join)": {
      "main": [
        [
          {
            "node": "Set Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Fields": {
      "main": [
        [
          {
            "node": "Google Sheets Lookup (Enrich)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Lookup (Enrich)": {
      "main": [
        [
          {
            "node": "Function → Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP → PDFMonkey": {
      "main": [
        [
          {
            "node": "HTTP → Send Klaviyo Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP → Send Klaviyo Email": {
      "main": [
        [
          {
            "node": "Google Sheets Append Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "2e0382691239745fd64be93abb3badde65be8bcefa6fa437c542a641167ac57f"
  },
  "tags": []
}
